<form action='/add_space' method='post'>
  <input type='text' placeholder='Name Your Space' name='space_name'>
  <input type='text' placeholder='Describe Your Space' name='space_description'>
  <input type='text' placeholder='Price Per Night?' name='price_per_night'>
  <input type='submit' value="Submit">
</form>