<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <h1 style="font-family: Georgia;">Welcome To MakersBnB</h1>
  <meta charset="utf-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Display Spaces</title>
</head>
<body>

<%if session[:user_id] != nil %>
  <h2 style="font-family: arial;">Welcome: <%= session[:user_name] %> </h2>
  <a href="/sign_out">Sign out</a>
<%end%>

<%if session[:user_id] == nil %>
  <a href="/sign_in">Sign in |</a>
  <a href="/sign_up">Sign up |</a>
<%end%>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<p>
You wish to book <% @space_name %>
</p>
</body>
</html>
