<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>These Spaces are available on your selected dates</title>
</head>
<body>
<table id='spaces_table' class='table'>
  <tr>
    <th scope="col">Space</th>
    <th scope="col">Description</th>
    <th scope="col">Price per Night</th>

  </tr>
  <% @spaces.each do |space| %>
    <tr>
      <td><%= space.space_name %></td>
      <td><%= space.space_description %></td>
      <td><%= space.price_per_night %></td>
      </tr>
  <% end %>
</table>
</body>
</html>
