<h1>Please sign up</h1>

<form action='/sign_up' method='post'>
  <input type='text' name='user_name' placeholder='Type in username'>
  <input type='password' name='password' placeholder='Enter a password'>
  <input type='submit' name='Submit'>
</form>

<a href="/">Home Page |<a>
<a href="/sign_in">Sign in</a>